body {
    font-family: 'PT Serif', serif
}

.bo {
    height: 25px;
}
.bn {
    fill: rgba(0, 0, 0, 1);
}

.bg-yellow {
    background-color: #FFC017;
}

.border-bottom-dark {
    border-bottom: 1px solid rgba(41, 41, 41, 1);
}

.font-size {
    font-size: 100px;
}

.font-weight {
    font-weight: 400px;
}

.header-p {
    font-size: 30px;
}

.aside-buttons > li {
    margin: 5px;
}
